{% extends "base.html" %}

{% block title %}
About APAF
{% end %}

{% block body %}
<p>
APAF, aka Anonymous Python Application Framework, is a multi-platform build system framework and a library for developing Python/Twisted based server applications, exposed as Tor Hidden Service, easy to be installed and managed on multiple platforms (Windows, OSX, Debian) with a particular focus for desktop environments.
</p>

<p>
For more informations, and how to create your own apaf service, visit the documentation on 
<a href="https://apaf.readthedocs.org">readthedocs</a>.
</p>
{% end %}


