{% extends "base.html" %}

{% block title %} Configuration {% end %}

{% block body %}
<div class="page-header">
    <h4> This is the web configuration page of APAF.
        Feel free to edit this configuration, but be careful when changing
        red-marked items, they could harm your security! </h4>
</div>
<div class="row">
    <ul class="nav nav-tabs nav-stacked">
        {% for name, entry in entries.iteritems() %}
        <li> <div>
            {{ name }} <input type={{ entry['type'] }}
                              value={{ entry['value'] }}>
        </div></li>
        {% end %}
    </ul>
    <button type="submit" onclick=> Submit </button>
</div>

{% end %}


<!--
<script>
    document.ready(function () {
        $get('config', function (data) {
            console.log(data);

    });
</script>
-->
