{% extends "base.html" %}

{% block body %}
<!-- Head -->
<div class="hero-unit">
  <h1>Hello, APAF!</h1>
  <p>Welcome to the fancy world of APAF. With APAF you will run anonymous
  Tor hidden service from the confort of your desktop computer</p>
  <p><a class="btn btn-primary btn-large" href="about.html">Learn more &raquo;</a></p>
</div>

<!-- Status resumée. -->
<div class="row">
  <div class="alert alert-block">
      <p>Is tor running?</p>
  </div>
  <div class="">
</div>

<!-- Configuration table -->
<div class="row">
  <div class="span4">
    <h2>Tor network Stats</h2>
    <p>Very basic tor description here.</p>
    <p><a class="btn" href="tor.html" id="tor">Tor &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>Services Configuration</h2>
    <p>Very basic services description here.</p>
    <p><a class="btn" href="services.html" id="services">Services &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>APAF Configuration</h2>
    <p>Settings.</p>
    <p><a class="btn" href="configuration.html" id="configuration">Settings &raquo;</a></p>
  </div>
</div>

{% end %}
{% block script %}
<script>
    $(document).ready(function() {

    $("#apps").click(function() {
        $.get('app', function(data) {
          $('#debug_console').html(data);
      });
    });


    $("#tor").click(function() {
        $.get('tor', function(data) {
          $('#debug_console').html(data);
        });

    });

    $("#stats").click(function() {
        $.get('status', function(data) {
          $('#debug_console').html(data);
        });
    });
});
</script>
{% end %}
