{% extends "base.html" %}

{% block title %}
APAF - Services Page
{% end %}

{% block body %}
<div class="container">
   <h1>Services Page</h1>
   <hr />
   <p>This list shows the list of services with a small description of what
      they are doing nad which hidden service they are running on.</p>
    <table class="table table-striped" href='#' id='hstable'>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Comment</th>
          <th>Hidden Service Url</th>
          <th>Active</th>
       </tr>
         {% for i, service in enumerate(services) %}
         <tr>
             <td> {{ i }}              </td>
             <td> {{ service.name }}   </td>
             <td> {{ service.desc }}   </td>
             <td> {{ service.url }}    </td>
             <td> {{ service.active }} </td>
         </tr>
         {% end %}
   </table>
   <hr>

</div> <!-- /container -->
{% end %}


<!--
<script>
  $(document).ready(function() {
      $.get('services', function(data) {
          services = eval( '(' + data + ')' );
          console.log(services);
          for (var i=0; i != services.length; i++)
              $('#hstable').append('<tr>')
                           .append('<td>' + (i+1) + '</td>')
                           .append('<td>' + services[i].name + '</td>')
                           .append('<td>' + services[i].desc + '</td>')
                           .append('<td>' + services[i].url + '</td>')
                           .append('</tr>');
      });
  }
  );
</script>
-->

