{% extends "base.html" %}

{% block body %}

<div class="container">
    <h1> Service {{ escape(services['name']) }} </h1>
    <hr />
    <div style="float:right">
        <h4 href={{ services['url'] }}> {{services['url']}} </h4>
        <p> {{ str(services['active']) }} </p> <!-- change with icon -->
    </div>
    <p> {{ escape(services['desc']) }} </p>
    {% if 'config' in services %}
        <div class="row">
            <ul class="nav nav-tabs nav-stacked">
                {% for name, entry in services['config'].iteritems() %}
                <li> <div>
                    {{ name }} <input type={{ entry['type'] }}
                                      value={{ entry['value'] }}>
                </div></li>
                {% end %}
            </ul>
            <button type="submit" onclick=> Submit </button>
        </div>
    {% end %}

</div>


{% end %}
